In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
q1={'Japan':80, 'China':450, 'India': 200, 'USA': 250}
q2={'Brazil':100, 'China':500, 'India': 210, 'USA': 260}

In [4]:
sales_q1=pd.Series(q1)

In [5]:
sales_q2=pd.Series(q2)

In [6]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [7]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [8]:
sales_q1['Japan']

80

In [9]:
sales_q1[0]

80

In [10]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [13]:
sales_q1.keys

<bound method Series.keys of Japan     80
China    450
India    200
USA      250
dtype: int64>

In [14]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [15]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [16]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [17]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [20]:
sales_q1.add(sales_q2,fill_value=1)

Brazil    101.0
China     950.0
India     410.0
Japan      81.0
USA       510.0
dtype: float64

In [21]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [22]:
sales_q1.dtype

dtype('int64')

In [23]:
first_half=sales_q1.add(sales_q2,fill_value=0)

In [24]:
first_half.dtype

dtype('float64')